{% extends "layouts/base.html" %}

{% block title %} SimpleLine Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/custom.css">
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
                <h4 class="page-title">Security</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href={{url_for('.index')}}>
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>Security</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>Settings</a>
                    </li>
                </ul>
            </div>
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Overall configuration</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-3"></div>
									<h6 class="fw-bold mt-3 mb-0">Decision making</h6>
									<div class="px-2 pb-2 pb-md-0 text-center" style="margin-top: 15%;">
                                        <form method="post">
                                            <input type="submit" name="AutomaticDec" value="Automatic" class="btn btn-primary">
                                            <input type="submit" name="ManualDec" value="Manual" class="btn btn-secondary">
                                        </form>
                                    </div>
								</div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-3"></div>
									<h6 class="fw-bold mt-3 mb-0">Running choice</h6>
									<div class="px-2 pb-2 pb-md-0 text-center" style="margin-top: 15%;">
                                        <form method="post">
                                            <input type="submit" name="AutomaticChoi" value="Automatic" class="btn btn-primary">
                                            <input type="submit" name="ManualChoi" value="Manual" class="btn btn-secondary">
                                        </form>
                                    </div>
								</div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-3"></div>
									<h6 class="fw-bold mt-3 mb-0">Database update</h6>
									<div class="px-2 pb-2 pb-md-0 text-center" style="margin-top: 15%;">
                                        <form method="post">
                                            <input type="submit" name="AutomaticDB" value="Automatic" class="btn btn-primary">
                                            <input type="submit" name="ManualDB" value="Manual" class="btn btn-secondary">
                                        </form>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Settings</div>
						</div>
						<div class="card-body">
							<div class="selectgroup selectgroup-pills" >
								<form name="myForm" action="" method="post" onsubmit="">
									<label class="selectgroup-item">
										<input type="text" class="form-control input-full" id="inlineinput" placeholder="Consecutive hours param (default 10)">
									</label> 
									<div class="card-action">
									<p><input class="btn btn-success" type=submit value=UpdateCrit></p>
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<style>
	.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
  </style>
{% endblock javascripts %}
