
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" >
									C2Hunter - Automatic C2 detection and remediation plateform
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
						Front template by : 
                        &copy; <a target="_blank" href="https://www.themekita.com">ThemeKita</a> 
                        - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
						<br>
						Back & custom by : 
                        &copy; <a target="_blank" href="https://github.com/Hato0">Hato0</a>
					</div>		
					</div>
            </footer>
            